@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    transition: 0.5s;

}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 80px;
}

.container{
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.logo{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.logo img{
    height: 1.5rem;
    width: 1.5rem;
}
.logo h1{
    font-size: 1.5em;
    color: rgba(58, 64, 78, 1);
}

.content{
    display: flex;
    gap: 40px;
    
}
.content a{
    font-size: 1rem;
    text-decoration: none;
    color: rgba(102, 112, 133, 1);
    min-width: 85px;

}

#fantasma{
    width: 8.8rem;
}

button{
    border: none;
}
.btn{
    display: flex;
    gap: 8px;

}
.btn a{
    display: flex;
    border-radius: 8px;
    padding: 24px;
     padding: 1rem ;
    border: none;
    border-radius: 8px;
     align-items: center;
     text-decoration: none;
      height: 44px;
}

.content a:hover, .btn a:hover {
    font-weight: 600;
    color: black;
    text-decoration: underline;
} 

#entrar{
    color: rgba(102, 112, 133, 1);
}

#cadastrar{
    background-color: rgba(142, 36, 36, 1);
    color: rgba(255, 255, 255, 1);
}

/* ============================================================================================================================== */
/* sobre nos */
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 407px;
    width: 100%;
}

#sobreNos{
font-size: 1rem;
font-weight: 600;
color: rgba(142, 36, 36, 1);
}

#pergunta {
font-size: 3rem;
font-weight: 600;
color: rgba(16, 24, 40, 1);
text-align: center;
}

#resposta {
    text-align: center;
    font-size: 1.2rem ;
    font-weight: 400;
    color:  rgba(102, 112, 133, 1);
}
/* ============================================================================================================================== */
/* card */
.metrica {
    display: flex;
    justify-content: center;
    height: 288px;
}

.card{
    display: flex;
    gap: 32px;
    max-width: 75vw;
}

.cards{
    width: 280px;
    height: 192px;  
}

.titulo{
    font-size: 3rem;
    color: rgba(142, 36, 36, 1);
    font-weight: 600;
}

.subtitulo{
    font-size: 1rem;
    color: rgba(16, 24, 40, 1);
}

.conteudo{
    font-size: 1rem;
    color: rgba(102, 112, 133, 1);
}