@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: yellow;
}

.container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 40px;
}

.logo{
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.logo img{
    height: 27px;
    width: 27px;
}
.logo h1{
    font-size: 24px;
    color: rgba(58, 64, 78, 1);
;
}

.content{
    display: flex;
    gap: 40px;
    
}
.content a{
    font-size: 1rem;
    text-decoration: none;
    color: rgba(102, 112, 133, 1);

}

#fantasma{
    width: 142px;
}

button{
    border: none;
}
.btn{

    border-radius: 8px;
}

#entrar{
    height: 44px;
}

#cadastrar{
    height: 44px;
    background-color: rgba(142, 36, 36, 1)
}